@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?ft2ply');
    src:    url('fonts/icomoon.eot?ft2ply#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?ft2ply') format('truetype'),
        url('fonts/icomoon.woff?ft2ply') format('woff'),
        url('fonts/icomoon.svg?ft2ply#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-机构数据:before {
    content: "\e91f";
}
.icon-首页:before {
    content: "\e91e";
}
.icon-积分:before {
    content: "\e91d";
}
.icon-记者:before {
    content: "\e91b";
}
.icon-自媒体:before {
    content: "\e91c";
}
.icon-共享:before {
    content: "\e91a";
}
.icon-直播:before {
    content: "\e918";
}
.icon-快速发布:before {
    content: "\e919";
}
.icon-功能:before {
    content: "\e917";
}
.icon-选取视频:before {
    content: "\e916";
}
.icon-待转交:before {
    content: "\e915";
}
.icon-待处理:before {
    content: "\e913";
}
.icon-已处理:before {
    content: "\e914";
}
.icon-指南:before {
    content: "\e912";
}
.icon-更多:before {
    content: "\e910";
}
.icon-通知:before {
    content: "\e911";
}
.icon-微信:before {
    content: "\e90f";
}
.icon-添加:before {
    content: "\e90b";
}
.icon-拖动:before {
    content: "\e907";
}
.icon-签到:before {
    content: "\e908";
}
.icon-导出表格:before {
    content: "\e909";
}
.icon-会务-视频:before {
    content: "\e90a";
}
.icon-会务-图片:before {
    content: "\e90c";
}
.icon-会务-图文:before {
    content: "\e90d";
}
.icon-会务-文字:before {
    content: "\e90e";
}
.icon-文件夹-系统:before {
    content: "\e906";
}
.icon-垂直翻转:before {
    content: "\e900";
}
.icon-水平翻转:before {
    content: "\e901";
}
.icon-旋转-45:before {
    content: "\e902";
}
.icon-旋转45:before {
    content: "\e903";
}
.icon-旋转-5:before {
    content: "\e904";
}
.icon-旋转5:before {
    content: "\e905";
}
.icon-直播流:before {
    content: "\e67e";
}
.icon-节目单:before {
    content: "\e67f";
}
.icon-闹钟提醒:before {
    content: "\e67d";
}
.icon-关闭投票:before {
    content: "\e67c";
}
.icon-已点赞:before {
    content: "\e67a";
}
.icon-点赞-2:before {
    content: "\e67b";
}
.icon-取消置顶:before {
    content: "\e678";
}
.icon-置顶:before {
    content: "\e679";
}
.icon-默认图标:before {
    content: "\e677";
}
.icon-发音频:before {
    content: "\e676";
}
.icon-定位:before {
    content: "\e674";
}
.icon-日历:before {
    content: "\e675";
}
.icon-修正:before {
    content: "\e672";
}
.icon-恢复:before {
    content: "\e673";
}
.icon-素材:before {
    content: "\e671";
}
.icon-二维码:before {
    content: "\e670";
}
.icon-专辑:before {
    content: "\e66f";
}
.icon-内容列表:before {
    content: "\e66e";
}
.icon-最新:before {
    content: "\e66c";
}
.icon-最热:before {
    content: "\e66d";
}
.icon-附件-删除:before {
    content: "\e66a";
}
.icon-附件-添加:before {
    content: "\e66b";
}
.icon-模板:before {
    content: "\e65f";
}
.icon-图片-旋转:before {
    content: "\e660";
}
.icon-图片-文字:before {
    content: "\e661";
}
.icon-图片-马赛克:before {
    content: "\e662";
}
.icon-图片-水印:before {
    content: "\e663";
}
.icon-图片-特效:before {
    content: "\e664";
}
.icon-图片-亮度:before {
    content: "\e665";
}
.icon-图片-剪切:before {
    content: "\e666";
}
.icon-图片-翻转:before {
    content: "\e667";
}
.icon-引用:before {
    content: "\e668";
}
.icon-转载:before {
    content: "\e669";
}
.icon-记录:before {
    content: "\e65a";
}
.icon-操作:before {
    content: "\e65b";
}
.icon-登录:before {
    content: "\e65c";
}
.icon-自动:before {
    content: "\e65d";
}
.icon-手动:before {
    content: "\e65e";
}
.icon-实线箭头:before {
    content: "\e658";
}
.icon-虚线箭头:before {
    content: "\e659";
}
.icon-工具:before {
    content: "\e656";
}
.icon-风格:before {
    content: "\e657";
}
.icon-屏蔽:before {
    content: "\e650";
}
.icon-站点-全部:before {
    content: "\e651";
}
.icon-下载至本地:before {
    content: "\e652";
}
.icon-添加新用户:before {
    content: "\e653";
}
.icon-关闭:before {
    content: "\e654";
}
.icon-正常:before {
    content: "\e655";
}
.icon-添加模块-链接:before {
    content: "\e64b";
}
.icon-添加模块-列表:before {
    content: "\e64c";
}
.icon-添加模块-菜单项:before {
    content: "\e64d";
}
.icon-添加模块-信息发送:before {
    content: "\e64e";
}
.icon-添加模块-数字报:before {
    content: "\e64f";
}
.icon-复制 .path1:before {
    content: "\e63b";
    color: rgb(35, 24, 21);
}
.icon-复制 .path2:before {
    content: "\e63c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-复制 .path3:before {
    content: "\e63d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-复制 .path4:before {
    content: "\e63e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-上传音频:before {
    content: "\e63f";
}
.icon-上传文本:before {
    content: "\e640";
}
.icon-上传视频:before {
    content: "\e641";
}
.icon-上传图文:before {
    content: "\e642";
}
.icon-上传图片:before {
    content: "\e643";
}
.icon-链接类型:before {
    content: "\e644";
}
.icon-列表类型:before {
    content: "\e645";
}
.icon-图文类型:before {
    content: "\e646";
}
.icon-音频类型:before {
    content: "\e647";
}
.icon-文本类型:before {
    content: "\e648";
}
.icon-图片类型:before {
    content: "\e649";
}
.icon-视频类型:before {
    content: "\e64a";
}
.icon-推送:before {
    content: "\e633";
}
.icon-域名:before {
    content: "\e634";
}
.icon-菜单:before {
    content: "\e635";
}
.icon-统计:before {
    content: "\e636";
}
.icon-info:before {
    content: "\e637";
}
.icon-@:before {
    content: "\e638";
}
.icon-图片:before {
    content: "\e639";
}
.icon-视频-1:before {
    content: "\e63a";
}
.icon-评论:before {
    content: "\e62f";
}
.icon-点赞:before {
    content: "\e630";
}
.icon-打开:before {
    content: "\e631";
}
.icon-用户组:before {
    content: "\e632";
}
.icon-搜索:before {
    content: "\e62e";
}
.icon-播放:before {
    content: "\e629";
}
.icon-视频:before {
    content: "\e62a";
}
.icon-增加:before {
    content: "\e62b";
}
.icon-设置:before {
    content: "\e62c";
}
.icon-上传:before {
    content: "\e62d";
}
.icon-已发:before {
    content: "\e627";
}
.icon-草稿:before {
    content: "\e628";
}
.icon-审核:before {
    content: "\e621";
}
.icon-驳回:before {
    content: "\e622";
}
.icon-star-实心:before {
    content: "\e623";
}
.icon-星-空心:before {
    content: "\e624";
}
.icon-送审:before {
    content: "\e625";
}
.icon-加急:before {
    content: "\e626";
}
.icon-down:before {
    content: "\e620";
}
.icon-历史记录:before {
    content: "\e61f";
}
.icon-管理员:before {
    content: "\e61e";
}
.icon-左侧:before {
    content: "\e61c";
}
.icon-右侧:before {
    content: "\e61d";
}
.icon-cmstop:before {
    content: "\e61b";
}
.icon-备份-1:before {
    content: "\e61a";
}
.icon-对勾:before {
    content: "\e617";
}
.icon-搬家:before {
    content: "\e618";
}
.icon-备份:before {
    content: "\e619";
}
.icon-上一页:before {
    content: "\e613";
}
.icon-下一页:before {
    content: "\e614";
}
.icon-下拉:before {
    content: "\e615";
}
.icon-收起:before {
    content: "\e616";
}
.icon-分享:before {
    content: "\e60d";
}
.icon-返回:before {
    content: "\e60e";
}
.icon-浏览:before {
    content: "\e60f";
}
.icon-删除:before {
    content: "\e610";
}
.icon-编辑:before {
    content: "\e611";
}
.icon-文件夹:before {
    content: "\e612";
}
.icon-链接:before {
    content: "\e60a";
}
.icon-列表:before {
    content: "\e60b";
}
.icon-help:before {
    content: "\e60c";
}
.icon-媒体云:before {
    content: "\e609";
}
.icon-帮助:before {
    content: "\e601";
}
.icon-推荐:before {
    content: "\e608";
}
.icon-help2:before {
    content: "\e604";
}
.icon-pc:before {
    content: "\e605";
}
.icon-phone:before {
    content: "\e606";
}
.icon-html5:before {
    content: "\e607";
}
.icon-uniE600:before {
    content: "\e600";
}
.icon-logo-cu:before {
    content: "\e602";
}
.icon-logo-xin:before {
    content: "\e603";
}

